html {
    font-size: 16px;
    line-height: 2rem;
    font-family: "Roboto";
}
/*header section*/
header{
    width: 100%;

}
.content{
    display: flex;
    align-items: center;
}
.column{
    display: flex;
    flex-direction: column;

}
header nav ul{
    display: flex;
}
.head-anchor{
    text-decoration: none;
    color: rgb(117, 125, 127);
}
.logo-img{
    height: 2rem;
    padding-left: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
h1{
    font-size: 1rem;
}
.logopart-one{
    color: rgb(79, 83, 83);
    font-weight: 700;
}
.logopart-two{
    font-weight: 500;
    color: rgb(194, 181, 204);
}
nav{
    padding-right: 1rem;
}
nav li{
    padding-left: 1rem;
    font-size: 1rem;
}
.mobile{
    display: none;
}
header .logopart-one{
    flex: 1;

}
@media only screen and (max-width: 480px){
    .desktop,.logo-img, .logopart-one{
        display: none;
    }
    .mobile{
        display: block;
        width: 100%;
    }
    .mobile ul{
        display: flex;
        flex-direction: row;
        align-self: center;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 4rem;
    }
}
/*end header*/
/*Main content*/
.main-content{
    background-color: lightgray;
    width: 100%;
}
.main-content img{
    width: 60%;
    padding: 2rem 1.5rem;
}
.banner-info{
    padding-left: 1.5rem;
    padding-right: 10%;
}
button{
    background-color: rgb(79, 83, 83);
    padding-top: .5rem;
    padding-bottom: .5rem;
    margin-right: .5rem;
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    border: 0;

}
.banner-info h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(79, 83, 83);
    padding-bottom: 2rem;
}
.banner-info h3{
    font-size: 2rem;
    font-weight: 540;
    color: rgb(117, 125, 127);
    padding-bottom: 2rem;
}
@media only screen and (max-width: 480px){
    .main-content div{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .main-content img{
        width: 100%;
        padding: 0 0;
    }
    button{
        margin-left: 1rem;
    }
    .banner-info{
        padding-left: 1.5rem;
        padding-right: 10%;
    }
    .banner-info h2{
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 2rem;
        margin-left: 1rem;
    }
    .banner-info h3{
        padding-bottom: 1.5rem;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
    .banner-info div{
        padding-bottom: 2rem;
    }
}
.sect-two{
    width: 100%;
    align-items: flex-start;
    padding-bottom: 2rem;
}
.sect-two-banner{
    width: 60%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 2rem;
}
.sect-two-banner img{
    width: 100%;
}
.sect-two-banner h2{
    font-size: 3rem;
    font-weight: 700;
    color: rgb(79, 83, 83);
    padding-bottom: 2rem;
    padding-top: 2rem;
}
.sect-two-banner h4{
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(117, 125, 127);
    padding-bottom: 2rem;
}
.sect-two-banner p{
    font-size: 1rem;
    font-weight: 500;
    color:rgb(64, 71, 91);
}
.mobile{
    display: none;
}
.sect-two-info{
    width: 40%;
    margin-top: 1rem;
}
.sect-two-info div{
    width: 100%;
    height: auto;
    align-items: flex-start;

}
.general-info img{
    width: 35%;
    height: auto;
    padding: 1rem;
}
.general-info div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.general-info div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.naration h3{
    font-size: 2rem;
    font-weight: 540;
    color:  rgb(95, 100, 100);
    padding-bottom: .5rem;
}
.naration h4{
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(117, 125, 127);
    padding-bottom: .5rem;
}
.naration nav a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(0, 162, 255);
}
.general-info div:hover{
    background-color: lightgray;
}
@media only screen and (max-width: 480px) {
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .sect-two-info{
        width: 100%;
        margin-top: 0;
    }
    .general-info div{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }
    .general-info img{
        width: 90%;
        height: auto;  
   }
   .naration h3{
        font-size: 1.5rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
        .naration h4{
        font-size: 1rem;
        padding-bottom: 1rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .this-ank{
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        color: rgb(0, 162, 255);
        padding-bottom: 1rem;
        padding-left: 2rem;
    }
    #final-ank{
        padding-bottom: 2rem;
    }
}
/*Start Learning*/
.start-learning{
    width: 100%;
    background-color: lightgray;
}
.start-learning h1{
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color:  rgb(95, 100, 100);

}
.flex-cols{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-rows{
    display: flex;
    margin-bottom: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}
.courses{
    width: 32%;
}
.courses img{
    height: auto;
    width: 100%;
}
.mid{
    margin-left: 2rem;
    margin-right: 2rem;
}
.courses h2{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 2rem;
    color:  rgb(95, 100, 100);
}
.courses h3{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: rgb(117, 125, 127);
}.courses h4{
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    font-size: 1.5rem;
    color: rgb(117, 125, 127);
}
.mobile-two{
    display: none;
}
@media only screen and (max-width: 480px) {
    .desktop-two{
    display: none;
    }
    .mobile-two {
    display: block;
    margin: 2rem 1rem;
    }
    .mobile-two h1{
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color:  rgb(95, 100, 100);
    text-align: center;
    }
    .mobile-two h2{
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1.5rem;
    font-size: 1.5rem;
    color:  rgb(95, 100, 100);
    background-color: lightgray;
    margin-bottom: .5rem;
    }
}
/*Thesis***********/
.thesis-content{
    display: flex;
}
.thesis h1{
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color:  rgb(95, 100, 100);
}
.video-container{
    width: 60%;
    height: auto;
    padding-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
.video-container h2{
    padding-top: 1.5rem;
    font-size: 2rem;
    color:  rgb(95, 100, 100);
}
.video-container p{
    padding-top: .5rem;
    padding-bottom: 2rem;
    font-size: 1.5rem;
    color: rgb(117, 125, 127);
}
.thesis.column{
    width: 40%;
}
.exhibits div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.exhibits img{
    width: 35%;
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.exhibits div{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.exhibits div div{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment h3{
    font-size: 2rem;
    color:  rgb(95, 100, 100);
    padding-bottom: .5rem;
    padding-left: 1rem;
}
.comment h4{
    font-size: 1.5rem;
    color: rgb(117, 125, 127);
    padding-bottom: .5rem;
    padding-left: 1rem;
}
.exhibits:hover{
    background-color: lightgray;
}
@media only screen and (max-width: 480px) {
    .thesis{
        width: 100%;
    }
    .thesis h1{
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 1rem;
        font-size: 2rem;
    }
    .video-container{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .video-container h2{
        display: none;
    }
    .video-container p{
        display: none;
    }
    .exhibits{
        display: none;
    }
}
/*footer*******/
footer div{
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    justify-content: space-between;
}
footer nav ul{
    display: flex;
}
.head-anchor{
    text-decoration: none;
    color: rgb(117, 125, 127);
}
@media only screen and (max-width: 480px) {
    footer nav{
        display: none;
    }
    footer .content{
        font-size: .75rem;      
    }
}
